################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/.kdev4
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.idea
test.txt
Debug/zaliczeniejezykowprogramowania.exe
dane.txt
Debug/zaliczeniejezykowprogramowania.exe
Debug/zaliczeniejezykowprogramowania.ilk
Debug/zaliczeniejezykowprogramowania.pdb
zaliczeniejezykowprogramowania.dir/Debug/main.obj
zaliczeniejezykowprogramowania.dir/Debug/vc142.pdb
zaliczeniejezykowprogramowania.dir/Debug/zaliczen.224E7FC9.tlog/zaliczeniejezykowprogramowania.write.1u.tlog
Debug/zaliczeniejezykowprogramowania.pdb
Debug/zaliczeniejezykowprogramowania.ilk
Debug/zaliczeniejezykowprogramowania.exe
zaliczen.*.tlog
*.log
